footer .container{
  background:  #2d2d2d;
    color: #e0e0e0;
}
.footer_wrap{
  padding: 45px 0;
}
.column1{
  float: left;
  width: 30%;

}
.column2{
  float: left;
  width: 30%;
  margin: 0 5%;
}
.column3{
  float: left;
  width: 30%;
  height: 100px;
}

/* column1
 */
.column1_logo{

  margin-bottom: 15px;
}
.column1_text{
  text-align: justify;

}
.column1_email{
  margin: 25px 0;
}
.column1_email a{
  margin-left: 15px;
  text-decoration: none;
  color: #e0e0e0
}
.social a{
  margin: 3px;
}


/* random_posts  */

.random_posts h2{
  font-size: 16px;
  padding: 18px 0;
  overflow: hidden;
}
.random_posts_block{
  float: left;
  width: 100%;
  height: 75px;
  margin-top: 1.3%;
  padding-bottom: 1.3%;
}
.random_posts_block_img73{
  float: left;
  width: 32.4%;
  height: 100%;
  margin-right: 15px;
}
.random_posts_block h3{
  font-size: 16px;
}
.random_posts_block .icons{
  margin: 10px 3px 0 3px;
}

/* column3 */


.column3 h2{
  font-size: 16px;
  padding: 18px 0;
  overflow: hidden;
}
