header{
  margin-top: 40px;
}
header .container{
  min-height: 80px;
  background: #2d2d2d;
}
.logo{

  float: left;
  line-height: 100px;
}
.nav {
  width: 40%;
  min-width: 460px;
  float: left;
  overflow: hidden;
}

.nav  li  {
  float: left;
  font-size: 14px;
  line-height: 80px;
  margin: 0 15px;
  list-style: none;

}
.nav a{
  color: #fff;
  text-decoration: none;
}
.adv{
  width: 40%;
  min-width: 460px;
  margin-top: 10px;
  float: right;
}
.adv img{
  width: 100%;

}
