*{
  box-sizing: border-box;

}
html{
  background: url(../img/bg.jpg);
	background-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container{
  max-width: 1259px;
  width: 100%;
  padding: 0 3.2%;
  margin: 0 auto;

}
.clearfix:after{
content: "";
display: block;
clear: both;
}
.main .container{
  padding-top: 20px;
  background: #fff;
}
input[type="checkbox"]{
  position: relative;
  top: 2px;
}
.icons{
  width: 12px;
  height: 11px;
  z-index: 2;
}
.i1{
  bottom: 17px;
  right: 75px;
}
.i2{
  bottom: 17px;
  right: 50px;
}
.i3{
  bottom: 17px;
  right: 20px;
}
